// Color Variables
$primary-color: #e0f1e9;
$secondary-color: #65BB90;
$text-color: #048E66;
$text-color-dark: #525252;
$text-color-light: #999;
$body-color: #e0f1e9;
$border-color: #c7c7c7;
$black: #000;
$white: #fff;
$gray: #eaeaea;

// Font Variables
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Rubik', sans-serif;
$icon-font: 'themify';